/*
General (Every page)
*/

.header{
  background-color:#ffa94d;
  padding:15px;
}

.menu{
  padding-top:10px;
  float:left;
  width:20%;
  min-width:fit-content;
}

.menuItem{
  margin-top:10px;
  padding:5px;
  border-right:4px solid;
  border-bottom:1px;
}

.content{
  padding:20px;
  float:left;
  width:60%;
}
