/*
General (Every page)
*/

body{
  background-image:
    url("https://i.imgur.com/3e7jfrr.jpg");
    background-size: contain;
}

.header{
  background-color: #ffa94d;
  padding: 15px;
}

.nav{
  background-color: rgba(255,255,255,0.9);
  float: left;
  margin-top: 10px;
  padding: 1%;
  width: 18%;
  min-width: fit-content;
}

ul {
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.6);
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgba(164,35,37);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgba(38,42,67);
  color: white;
}

.content{
  background-color: rgba(255,255,255,0.9);
  float: left;
  margin-top: 10px;
  padding: 1%;
  width: 58%;
}

.rightPanel{
  background-color: rgba(0,0,255,0.9);
  float: left;
  margin-top: 10px;
  padding: 1%;
  width: 18%;
}

.panelItem{
  color: white;
}

@media only screen and (min-width:1327px) {
  body{
    background-size: cover;
  }
}

@media only screen and (max-width:900px) {
  /* For Tablets */
  .content{
    width: 78%;
  }
  .rightPanel{
    width: 98%;
  }
}

@media only screen and (max-width:783px) {
  /* For Mobile Phones */
  .content, .nav, .rightPanel{
    width: 98%;
  }
  .content, .nav{
    background-color: rgba(255,255,255)
  }
  .body{
    overflow-x: hidden;
  }
}
