/*
General (Every page)
*/

body{
  background-image:
    url("https://i.imgur.com/3e7jfrr.jpg");
    background-size: contain;
}

.header{
  background-color:#ffa94d;
  padding:15px;
}

.menu{
  background-color:rgba(255,255,255,0.9);
  float:left;
  margin-top:10px;
  padding:1%;
  width:18%;
  min-width:fit-content;
}

.menuItem{
  margin-top:10px;
  padding:5px;
  border-right:4px solid;
  border-bottom:1px solid;
}

.content{
  background-color:rgba(255,255,255,0.9);
  float:left;
  margin-top:10px;
  padding:1%;
  width:58%;
}

.rightPanel{
  background-color:rgba(0,0,255,0.9);
  float:left;
  margin-top:10px;
  padding:1%;
  width:18%;
}

@media only screen and (max-width:900px) {
  /* For Tablets */
  .content{
    width:78%;
  }
  .rightPanel{
    width: 98%;
  }
}

@media only screen and (max-width:700px) {
  /* For Mobile Phones */
  .content, .menu, .rightPanel{
    width:98%;
  }
  .content, .menu{
    background-color:rgba(255,255,255)
  }
  .body{
    overflow-x:hidden;
  }
  .menuItem{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
  }
}
